.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  &:hover,
  &:focus {
    fill: var(--blue);
  }
   @include mq(tablet) {
      display: none;
   }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: fixed;
  top: 21px;
  right: 65px;
  fill: var(--black-main);
}
.menu-container a {
   text-decoration: none;
}